{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph Input</title>
</head>
<body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="{% static "graph_app/js/jquery.validate.min.js" %}"></script>
<form id="graph_operate" enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
    <h3 style="margin-left: 5%">Введіть дані про вершини та ребра графа</h3>
    <div style=" display: flex;">
        <div class="container" style="width: 20%;margin-left: 5%;margin-top: 2%;">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-bordered table-hover" id="table_vertex">
                        <thead>
                        <tr>
                            <th class="text-center">
                                #
                            </th>
                            <th class="text-center">
                                Вершини графа
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id='addr0'>
                            <td>
                                1
                            </td>
                            <td>
                                <input type="text" name='vertex_name_0' placeholder='Назва' class="form-control"/>
                            </td>
                        </tr>
                        <tr id='addr1'></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a id="add_vertex" class="btn btn-default pull-left">Додати вершину</a><a id='delete_vertex'
                                                                                      class="pull-right btn btn-default">Видалити</a>
        </div>

        <div class="container" style="width: 40%;margin-left: 1%;margin-top: 2%;">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-bordered table-hover" id="table_edges">
                        <thead>
                        <tr>
                            <th class="text-center">
                                #
                            </th>
                            <th class="text-center">
                                Звідки
                            </th>
                            <th class="text-center">
                                Куди
                            </th>
                            <th class="text-center">
                                Вага
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id='addr_0'>
                            <td>
                                1
                            </td>
                            <td>
                                <input type="text" name='src_0' placeholder='Звідки' class="form-control"/>
                            </td>
                            <td>
                                <input type="text" name='dest_0' placeholder='Куди' class="form-control"/>
                            </td>
                            <td>
                                <input type="text" name='weight_0' placeholder='Вага' class="form-control"/>
                            </td>
                        </tr>
                        <tr id='addr_1'></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a id="add_edges" class="btn btn-default pull-left">Додати ребро</a><a id='delete_edges'
                                                                                   class="pull-right btn btn-default">Видалити</a>
        </div>
    </div>

    <div class="container" style="margin-left: 5%">
        <h3>Алгоритми</h3>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="algorithm"> Page Rank
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="algorithm" checked> Label Propagation
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 5%; margin-top: 2%">Виконати алгоритм</button>
</form>
<script src="{% static "graph_app/js/main.js" %}"></script>
</body>
</html>