{% extends 'base.html' %}
{% block content %}
    <div class="radio_group" style="margin-top: 10px;">
        <h3 style="margin-left: 5%">Оберіть спосіб вводу даних про граф</h3>
        <div class="flex-container">
            <div class="custom-control custom-radio" style="margin-left: 5%;">
                <input type="radio" class="custom-control-input" id="radio1" name="group" checked>
                <label class="custom-control-label" for="radio1">Ручне введення</label>
            </div>
            <div class="custom-control custom-radio" style="margin-left: 5%;">
                <input type="radio" class="custom-control-input" id="radio2" name="group">
                <label class="custom-control-label" for="radio2">CSV файл</label>
            </div>
        </div>
    </div>
    <form id="graph_operate" enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        <h3 style="margin-left: 5%">Введіть дані про вершини та ребра графа</h3>
        <div id="hand_input" style=" display: flex;">
            <div class="container" style="width: 20%;margin-left: 5%;margin-top: 2%;">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <table class="table table-bordered table-hover" id="table_vertex">
                            <thead>
                            <tr>
                                <th class="text-center">
                                    #
                                </th>
                                <th class="text-center">
                                    Вершини графа
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id='addr0'>
                                <td>
                                    1
                                </td>
                                <td>
                                    <input type="text" name='vertex_name_0' placeholder='Назва' class="form-control"/>
                                </td>
                            </tr>
                            <tr id='addr1'></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a id="add_vertex" class="btn btn-default pull-left">Додати вершину</a><a id='delete_vertex'
                                                                                          class="pull-right btn btn-default">Видалити</a>
            </div>

            <div class="container" style="width: 40%;margin-left: 1%;margin-top: 2%;">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <table class="table table-bordered table-hover" id="table_edges">
                            <thead>
                            <tr>
                                <th class="text-center">
                                    #
                                </th>
                                <th class="text-center">
                                    Звідки
                                </th>
                                <th class="text-center">
                                    Куди
                                </th>
                                <th class="text-center">
                                    Вага
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id='addr_0'>
                                <td>
                                    1
                                </td>
                                <td>
                                    <input type="text" name='src_0' placeholder='Звідки' class="form-control"/>
                                </td>
                                <td>
                                    <input type="text" name='dest_0' placeholder='Куди' class="form-control"/>
                                </td>
                                <td>
                                    <input type="text" name='weight_0' placeholder='Вага' class="form-control"/>
                                </td>
                            </tr>
                            <tr id='addr_1'></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a id="add_edges" class="btn btn-default pull-left">Додати ребро</a><a id='delete_edges'
                                                                                       class="pull-right btn btn-default">Видалити</a>
            </div>
        </div>
        <div id="csv_input" style="display: none">
            <div class="flex-container">
                <div class="form-group" style="margin-left: 5%;">
                    <label for="file">CSV файл з графом</label>
                    <input type="file" class="form-control-file" name="my_file" id="file">
                </div>
            </div>
        </div>

        <div class="container" style="margin-left: 5%">
            <h3>Алгоритми</h3>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="page_rank" name="algorithm_r" checked> Page Rank
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="label_propagation" name="algorithm_r">
                    Label
                    Propagation
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="triangle_count" name="algorithm_r">
                    Triangle count
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 5%; margin-top: 2%">Виконати алгоритм</button>
    </form>
{% endblock %}

{% block graph_draw %}
    <div id="container" style="height: 400px;width: 700px; margin-left: 5%">
    </div>
    <div id="result" style="margin-left: 5%;margin-top: 5%;width: 700px;margin-bottom: 5%;">
    </div>
{% endblock %}